bin/
obj/
node_modules/
*.cached
deploy/
.DS_Store
screenshot.*
test/Automation/screenshot.png
src/Server/*.txt
src/Server/WebRoot/index.css
src/Server/WebRoot/dialog.css
src/Client/build/
src/Client/build/
fable-output
src/Server/WebRoot/tooltip.css
src/Server/WebRoot/base.css
src/Server/WebRoot/dist/
src/Client/Client.csproj
src/MVU/MVU.csproj
src/Server/WebRoot/input-form.css
src/Server/WebRoot/login.css
src/Domain/Domain.csproj
src/Server/WebRoot/bfb-input-form.css
src/Server/WebRoot/open-props.css
src/Server/Database/BestFitBox.db
src/Server/WebRoot/bindrake-input-form.css
src/Server/logs/
src/Server/WebRoot/add-credits.css
src/Server/WebRoot/help.css
src/Server/~$Bulk.xlsx
src/Server/WebRoot/help.css
src/Server/Database/FunPizzaShop.db
src/Server/secrets.hocon
.gitignore
logs/
*.report.html
Test.db

.fake
packages/
