@layer base,
layout,
text,
appearance,
other,
animation;

@import "base.css" layer(base);

@layer layout {
    body{
        block-size: 100svb;
        display:flex;
        flex-direction:column;
    }
    header {
        display: flex;
        align-items: stretch;
        padding: 0 var(--size-8);
        flex-wrap: wrap;
        min-inline-size: 390px;
    }
    
    main{
        flex-grow:1;
        display:flex;
        flex-direction: row;
        min-height: 0;
        >*:not(:is(.sidebar)) {
           flex-grow: 1;
        }

    }
    main{
        >*:not(.sidebar){
        overflow-y: auto;
        }
    }
    fps-pizza-menu{
        padding: var(--size-5);
    }

    .sidebar {
        background-color: #2b2b2b;
        width: 20rem;
        display: flex;
        flex-direction: column;
        color: white;
    }


    .logo {
        margin-inline-end: var(--size-8);
        inline-size: var(--size-12);
    }

    .nav-tab {
        margin: 0;
        padding: var(--size-1) var(--size-6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        :is(img) {
            block-size: 2rem;
            margin-block-end: 0.25rem;
        }
    }

    .user-info {
        margin-inline-start: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        :is(img) {
            margin-inline-end: 0.7rem;
            inline-size: 2.6rem;
        }
        &.username {
            display: block;
            font-weight: 700;
            line-height: 0.7rem;
            margin-block-start: 0.5rem;
        }
    }

    a.sign-in {
        padding: 0.2rem 0.8rem 0.1rem 0.8rem;
    }


    .pizza-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 20rem);
        grid-gap: 2rem;
        justify-content: center;
        padding-left: 0;
        > li {
            height: 10rem;
            position: relative;
            background-size: cover;
        }
        > li:hover {
            transform: scale(1.02);
        }
    }

    .pizza-info {
        block-size: 100%;
        border-radius: 0.5rem;
        padding: 1rem 1rem;
        line-height: 1.25rem;
        .title {
            display: block;
        }
        .price {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            padding: 0rem 0.7rem;
            border-radius: 4px;
            line-height: 2rem;
        }
    }
    .price::before {
        font-size: 1.2rem;
        margin-right: 0.2rem;
    }

    .configured-pizza-item {
        display: flex;
        flex-direction: row;
    }

    .dialog-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2000;
        display: flex;
        animation: dialog-container-entry 0.2s;
    }

    @keyframes dialog-container-entry {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .dialog {
        background-color: white;
        box-shadow: 0 0 12px rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        z-index: 2000;
        align-self: center;
        margin: auto;
        width: 700px !important;
        max-height: calc(100% - 3rem);
        animation: dialog-entry 0.4s;
        animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }

    @keyframes dialog-entry {
        0% {
            transform: translateY(30px) scale(0.95);
        }

        100% {
            transform: translateX(0px) scale(1.0);
        }
    }

    .dialog-title {
        background-color: #444;
        color: #fff2cc;
        padding: 1.3rem 2rem;
        :is(h2) {
            color: white;
            font-size: 1.4rem;
            margin: 0;
            font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            line-height: 1.3rem;
        }
    }

    .dialog-body {
        flex-grow: 1;
        padding: 0.5rem 3rem 1rem 0;
        > div {
            display: flex;
            margin-top: 1rem;
            align-items: center;
        }
        :is(label) {
            text-align: right;
            width: 200px;
            margin: 0 1.5rem;
        }
        .size-label {
            min-width: 110px;
            text-align: right;
        }
    }

    .dialog-buttons {
        height: 4rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        background-color: #eee;
        padding: 0 1rem;
    }

    .dialog-body input, .dialog-body select {
        flex-grow: 1;
        width: unset;
    }

    .dialog{
        .toppings {
            text-align: center;
            display: block;
            padding-left: 4rem;
        }
        .topping {
            display: inline-block;
            background-color: #a04343;
            color: white;
            padding: 0.2rem 1rem;
            border-radius: 2rem;
            margin: 0.4rem 0.3rem;
            font-weight: 700;
        }
        .topping-price {
            font-weight: 100;
            font-size: 0.8rem;
        }
        .topping-price::before {
            content: '£';
        }
        
        
    }

    .delete-topping {
        background: none;
        border: none;
        color: white;
        padding: 0.2rem 0.2rem 0.3rem 0.2rem;
        cursor: pointer;
    }

    .delete-topping:hover {
        color: yellow;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 7.1px 0;
        height: 21px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5.8px;
        cursor: pointer;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
        background: #dcdcdc;
        border-radius: 1.3px;
        border: 0px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.43), 0px 0px 0.9px rgba(0, 0, 75, 0.43);
        border: 0px solid #00001e;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #d45352;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7.1px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #e1e1e1;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5.8px;
        cursor: pointer;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
        background: #dcdcdc;
        border-radius: 1.3px;
        border: 0px solid #010101;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.43), 0px 0px 0.9px rgba(0, 0, 75, 0.43);
        border: 0px solid #00001e;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #d45352;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 5.8px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #d7d7d7;
        border: 0px solid #010101;
        border-radius: 2.6px;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-fill-upper {
        background: #dcdcdc;
        border: 0px solid #010101;
        border-radius: 2.6px;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.43), 0px 0px 0.9px rgba(0, 0, 75, 0.43);
        border: 0px solid #00001e;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #d45352;
        cursor: pointer;
        margin-top: 0;
    }

    @media (width < 768px) {
        main{
            flex-direction: column;
        }
        .sidebar{
            inline-size: 110vi;
        }
        .user-info {
            margin-inline: auto;
        }

        header {
            gap: 0.7rem;
        }

        .logo {
            margin: auto;
        }
    }

}

@layer appearance {
    :root {
        /* default */
        --header-background-color-default: rgb(192, 0, 0);
        --header-background-image-default: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 70%);
        --header-color-default: white;
        --header-box-shadow-default: 0 1px 3px rgba(0, 0, 0, 0.4);
        --nav-tab-active-color-default: #fff2cc
    }

    [theme="default-pizza"] {
        color-scheme: default-pizza;
        --header-background-color: var(--header-background-color-default);
        --header-background-image: var(--header-background-image-default);
        --header-color: var(--header-color-default);
        --header-box-shadow: var(--header-box-shadow-default);
        --nav-tab-active-color: var(--nav-tab-active-color-default);

    }

    header {
        background-color: var(--header-background-color);
        background-image: var(--header-background-image);
        color: var(--header-color);
        box-shadow: var(--header-box-shadow);
        padding-block-start: var(--size-3);
    }
    main{
        background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    }

    .nav-tab {
        background-color: rgba(0, 0, 0, 0.1);
        font-size: var(--font-size-1);
        color: var(--header-color);
        text-transform: uppercase;
        transition: 0.2s ease-out;

        &:hover {
            color: var(--header-color);
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.3);
        }

        &.active {
            background-color: rgba(255, 255, 255, 0.2);
            color: --nav-tab-active-color;

            &:after {
                content: "";
                position: absolute;
                bottom: -1rem;
                z-index: 1;
                width: 0px;
                height: 0px;
                border-left: 0.6rem solid transparent;
                border-right: 0.6rem solid transparent;
                border-top: 1rem solid rgb(205, 51, 51);
            }

            :is(img) {
                filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(797%) hue-rotate(316deg) brightness(109%) contrast(101%);
            }
        }
    }

    .user-info a {
        color: #fff2cc;
        font-size: 0.8rem;
    }
    a.sign-in {
        background: none;
        border: 1.5px solid var(--header-color);
        border-radius: 0.7em;
        color: var(--header-color);
        text-transform: uppercase;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        font-weight: 100;
        cursor: pointer;
        transition: 0.2s ease-out;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: #fff2cc;
            border-color: #fff2cc;
        }
    }
    .pizza-cards {
        > li {
            cursor: pointer;
            border-radius: 0.5rem;
            background-size: cover;
            list-style-type: none;
            box-shadow: 0 3px 4px rgba(0,0,0,0.4);
            transition: 0.1s ease-out;
        }
    }

    .pizza-info {
        border-radius: 0.5rem;
        background: linear-gradient(rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 80%);
        color: #fff2cc;
        text-shadow: 0 2px 2px rgba(0,0,0,0.5);
        line-height: 1.25rem;
        .title {
            color: white;
            font-size: 1.4rem;
            font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }
        .price {
            font-size: 1.5rem;
            font-weight: 700;
            border-radius: 4px;
            background-color: #08af08;
            color: white;
        }
    }
    .price::before {
        content: '£';
        font-weight: 300;
        font-size: 1.2rem;
    }



}