@layer base, layout, text, appearance, other,animation;
 
@import "base.css" layer(base);

@layer layout{
    header{
        display: flex;
        align-items: stretch;
        padding: 0 var(--size-8);
        position: fixed;
        flex-wrap: wrap;
        inset: 0 0 auto 0;
        min-inline-size: 390px;
    }

    .logo {
        margin-inline-end: var(--size-8);
        inline-size: var(--size-12);
    }

    .nav-tab {
        margin: 0;
        padding: var(--size-1) var(--size-6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
  
    .nav-tab img {
        block-size: 2rem;
        margin-block-end: 0.25rem;
    }
    @media (width < 768px) {
        header{
            gap: 0.7rem;
        }
        .logo {
            margin: auto;
        }
    }

}

@layer appearance{
    :root{
        /* default */
        --header-background-color-default:rgb(192,0,0);
        --header-background-image-default: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 70%);
        --header-color-default: white;
        --header-box-shadow-default: 0 1px 3px rgba(0,0,0,0.4);
        --nav-tab-active-color-default:#fff2cc
    }

    [theme="default-pizza"] {
        color-scheme: default-pizza;
        --header-background-color: var(--header-background-color-default);
        --header-background-image: var(--header-background-image-default);
        --header-color: var(--header-color-default);
        --header-box-shadow: var(--header-box-shadow-default);
        --nav-tab-active-color: var(--nav-tab-active-color-default);

    }
    header{
        background-color: var(--header-background-color);
        background-image: var(--header-background-image);
        color: var(--header-color);
        box-shadow: var(--header-box-shadow);
        padding-block-start: var(--size-3);
    }

    .nav-tab {
        background-color: rgba(0,0,0,0.1);
        font-size: var(--font-size-1);
        color: var(--header-color);
        text-transform: uppercase;
        transition: 0.2s ease-out;
        &:hover {
            color: var(--header-color);
            text-decoration: none;
            background-color: rgba(255,255,255,0.3);
        }
        &.active {
            background-color: rgba(255,255,255,0.2);
            color: --nav-tab-active-color;
            &:after {
                content: "";
                position: absolute;
                bottom: -1rem;
                z-index: 1;
                width: 0px;
                height: 0px;
                border-left: 0.6rem solid transparent;
                border-right: 0.6rem solid transparent;
                border-top: 1rem solid rgb(205,51,51);
            }
            :is(img) {
                filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(797%) hue-rotate(316deg) brightness(109%) contrast(101%);
            }
        }
    }

}
